@media (min-width: 700px) and (max-width: 1024px) {
  body {
    width: 650px;
  }
    
  }

@media (min-width: 1025px) {

    header {
      display: flex;
      background-color: var(--header);
      justify-content: space-between;
      align-items: center;
    }

    .icone {
      position: relative;
      display: flex;
      align-items: center;
      gap: 1%;
      margin-left: 15%;
    }

    .icone img {
      height: 60px;
    }

    .menu {
      width: 100%;
      margin-left: 30%;
      display: flex;
    }
    
    header ul {
      list-style-type: none;
      display: flex;
      gap: 5em;
    }
      
    header li a {
      color: var(--white);
      font-size: 1.4em;
      cursor: pointer;
      display: block;
      text-align: center;
      text-decoration: none;
    }

    header li a:hover {
      color: var(--focus);
    }
      
    .infoPessoais {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 130px;
      align-items: center;
    }

    .imagemPerfil img {
      width: 350px;
      height: 350px;
    }

    .saudacao h1 {
      font-size: 4em;
    }

    .saudacao p {
      font-size: 2em;
    }

    .logoRedesSociais, .logoTecnologias {
      width: 60px;
      height: 60px;
    }

    .titulosSecoes {
      font-size: 2.5rem;
    }

    .projetos a, .sobreMim p {
      font-size: 2em;
      line-height: 55px;
    }

    .sobreMim p {
      width: 950px;
      margin: auto;
    }
}